@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #141414;
  overscroll-behavior: none;
  -ms-overflow-style: none;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scroll-container {
  position: sticky;
  top:0;
  left: 0;
  right: 0;
  will-change: transform;

  .ghost {
    width: 100vw;
  }
}

.thumbnails-container {
  position: relative;
  height: 100vh;
  width: max-content;
  display: flex;
  align-items: center;
  padding: 0px 160px;
  background-color: #141414;

  .thumbnails {
    position: relative;
    display: flex;
    border: 20px solid pink;

    & > *:not(:last-child) {
      margin-right: 45px;
    }

    .thumbnail {
      height: 40vh;
      width: 700px;
      background-color: white;
      border: 15px solid magenta;
    }
  }
}
